<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ng-char-limitter</title>
</head>
<body>

<div class="container my-5 w-50">
  <div class="row">
    <div class="col d-flex justify-content-between  align-items-center">
      <h4>Kullanım Örnekleri</h4>
      <h6>CharLimitter</h6>
    </div>
  </div>

  <div class="row">
    <div class="col bg-light p-3 border border-end-0">

      <textarea class="form-control"
                rows="3"
                placeholder="textarea örneği..."
                [clMaximum]="50"
                [clFlush]="true"></textarea>

      <hr/>

<pre><code style="color:rgb(68, 68, 68); font-weight:400;background:rgb(240, 240, 240);display:block;padding: .5em;">&lt;textarea <span style="color:rgb(68, 68, 68); font-weight:700;">class</span>=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;form-control&quot;</span>
          placeholder=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;textarea örneği...&quot;</span>
          [<span style="color:rgb(31, 113, 153); font-weight:400;">clMaximum</span>]=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;50&quot;</span>
          [<span style="color:rgb(31, 113, 153); font-weight:400;">clFlush</span>]=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;true&quot;</span>&gt;&lt;/textarea&gt;</code></pre>
    </div>
    <div class="col bg-light p-3 border">

      <input class="form-control"
             placeholder="input örneği 1..."
             [clMaximum]="10">

      <input class="form-control mt-1"
             placeholder="input örneği 2..."
             [clMaximum]="15"
             [clTemplate]="'Kalan Karakter: {2}'">

      <hr>

<pre><code style="color:rgb(68, 68, 68); font-weight:400;background:rgb(240, 240, 240);display:block;padding: .5em;">&lt;input <span style="color:rgb(68, 68, 68); font-weight:700;">class</span>=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;form-control&quot;</span>
       placeholder=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;input örneği...&quot;</span>
       [<span style="color:rgb(31, 113, 153); font-weight:400;">clMaximum</span>]=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;20&quot;</span>
       [<span style="color:rgb(31, 113, 153); font-weight:400;">clTemplate</span>]=<span style="color:rgb(136, 0, 0); font-weight:400;">&quot;&#x27;Kalan Karakter: {{'{2}'}}&#x27;&quot;</span>&gt;</code></pre>

    </div>
  </div>

  <div class="row mt-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Parametre</th>
          <th scope="col">Açıklaması</th>
          <th scope="col">Varsayılan Değer</th>
          <th scope="col">Değer Türü</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">clMaximum</th>
          <td>
            Girdi alanına yazılabilecek maksimum karakter sayısını belirler.
            <span class="text-danger">zorunludur</span>
          </td>
          <td>255</td>
          <td><em>number</em></td>
        </tr>
        <tr>
          <th scope="row">clTemplate</th>
          <td>
            Kalan karakter mesajının ekranda nasıl görüntüleceğini belirten şablondur.
            <ul>
              <li>{{ '{0}' }} maksimum izin verilen karakter sayısı</li>
              <li>{{ '{1}' }} girilmiş toplam karakter sayısı</li>
              <li>{{ '{2}' }} geriye kalan karakter sayısı</li>
            </ul>
          </td>
          <td>{{ '{0}/{1}' }}</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clElement</th>
          <td>
            Girdi alanının altına eklenecek olan html elementinin türünü belirtir.
            DIV veya SPAN gibi istediğiniz türde herhangi bir html elementi bu sayede belirtilebilir.
          </td>
          <td>div</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clClass</th>
          <td>
            "clElement" ile yaratılan html elementine class vermek için kullanılır.
          </td>
          <td>char-limitter</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clClassOver</th>
          <td>
            izin verilen karakter sayısı aşılmış ise "clElement" ile yaratılan html elementine bu class eklenir.
            varsayılan davranışta, izin verilen karakter sayısı aşıldığında Kalan Karakter yazısını
            <span class="text-danger">kırmızı</span> renkte görmektesiniz.
          </td>
          <td>char-limitter-over</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clClassFlush</th>
          <td>
            eğer Kalan Karakter mesajı yanıp sönsün isteniyorsa <em>(bknz: clFlush)</em> bu esnada kalan karekter mesajına
            uygulanacak olan class ismini belirtir.
          </td>
          <td>char-limitter-over-flush</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clClassInput</th>
          <td>
            girdi alanına <em>(textarea veya input...)</em> eklenen class ismidir.
          </td>
          <td>char-limitter-input</td>
          <td><em>string</em></td>
        </tr>
        <tr>
          <th scope="row">clFlush</th>
          <td>
            girdi alanına girilebilecek karakter kalmadığını daha da vurgulamak amacıyla mesajı
            yakıp söndüren bir efekt uygulansın mı uygulanmasın mı?
          </td>
          <td>false</td>
          <td><em>booelan</em></td>
        </tr>
        </tbody>
      </table>
  </div>
  git add --all

  git commit -m "Initial commit"

  git push -u origin main
  <div class="row">
    <div class="col">
      <p>
        <a href="https://twitter.com/eburhan" target="_blank">Erhan BURHAN (eburhan)</a>
      </p>
    </div>
    <div class="col">
      <p style="text-align: right">
        <a href="https://github.com/eburhan/char-limitter" target="_blank">https://github.com/eburhan/char-limitter</a>
      </p>
    </div>
  </div>

</div>

</body>
</html>
